**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/*.md
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/tests
**/*.Tests
**/*.Test
**/coverage
**/TestResults
**/*.user
**/*.suo
**/.env*
**/appsettings.Development.json
**/appsettings.local.json
